.header {
	background-color: var(--blue);
	padding: 10px 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		cursor: pointer;
	}

	&__input-box {
		position: relative;
		width: 45%;
	}

	&__input {
		&_active {
			border-radius: 20px 20px 0 0 !important;
		}
	}

	&__buttons {
		display: flex;
	}

	&__button {
		margin-right: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:last-child {
			margin-right: 0;
		}
	}
}
