.header-mobile {
	background-color: var(--blue);
	padding: 10px 0;

	&__hamburger {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		> span {
			display: block;
			width: 30px;
			height: 3px;
			background-color: var(--blue);
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
