.book-card-item {
	width: 15%;
	list-style-type: none;

	&__info {
		cursor: pointer;
		> img {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&__title {
		margin-bottom: 20px;
		min-height: 160px;
	}

	&__price {
		margin-bottom: 20px;
	}
}
