.registration {
	background-color: var(--blue);

	&__title {
		margin-bottom: 30px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__box {
		width: 100%;
		margin-bottom: 60px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__text {
		width: 55%;
	}

	&__buttons {
		display: flex;
		align-items: center;
	}

	&__button {
		margin-right: 30px;
	}

	&__link {
		> a {
			color: var(--white);
			text-decoration: none;
		}
	}
}
