.slideshow {
	background-color: var(--white);

	&__slide {
		> img {
			width: 230px;
			height: 100px;
		}
	}
}

//* ПК
@media (max-width: 1300px) {
	.slideshow {
		&__slide {
			> img {
				width: 200px;
				height: 90px;
			}
		}
	}
}
