.light-theme {
	--white: #ffffff;
	--blue: #2699fb;
	--darkBlue: #1b3c65;
	--black: #333333;
	--gray: #d9d9d9;
}

.dark-theme {
	--white: #333333;
	--blue: #4567b7;
	--darkBlue: #82cae9;
	--black: #ffffff;
	--gray: #666666;
}
